<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Бүртгүүлэх</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


        <link rel="stylesheet" href="css/login.css">


</head>

<body>

    <body>
        <div class="content-wrapper">
            <div class="background background-left"></div>
            <div class="background background-right"></div>
            <div class="sing-up-panel active">
                <form action="index.html">
                    <h1>Sict coder-т тавтай морил</h1>
                    <div class="input">
                        <input type="text" required id="name">
                        <div class="bar"></div>
                        <label>Оюутны код</label>
                    </div>
                    <div class="input">
                        <input type="password" required id="password">
                        <div class="bar"></div>
                        <label>Оюутны нууц үг</label>
                    </div>
                    <div class="button-wrapper">
                        <button class="button-transparent sing-in" type="submit">Нэвтрэх</button>
                        <button class="sing-up" type="submit">Бүртгүүлэх</button>
                    </div>
                </form>
            </div>
            <div class="sing-in-panel">
                <form action="index.html">
                    <h1>Кодоо бичиж эхлэх</h1>
                    <div class="input">
                        <input type="text" required id="name">
                        <div class="bar"></div>
                        <label>Оюутны нэр</label>
                    </div>
                    <div class="input">
                        <input type="password" required id="password">
                        <div class="bar"></div>
                        <label>Оюутны код</label>
                    </div>
                    <div class="button-wrapper">
                        <button class="sing-in" type="submit">Нэвтрэх</button>
                        <button class="button-transparent sing-up" type="submit"><a href=""></a>Бүртгүүлэх</button>
                    </div>
                </form>
            </div>
            <div class="floating-content"></div>
        </div>
    </body>
    <script src='js/jquery.js'></script>

    <script src="js/login.js"></script>

</body>

</html>